/*-- scss:defaults --*/

// Custom colours and variables

$jet: #131516;
$accent: #43839f;
$accent2: #9a2515;
$right-arrow: "\2192"; // Unicode character for right arrow
$verdecito: #568666;
$maincolor: #40666e;
$azulito: #4472C4;
$amarillito: #f0bf60;
$gris: #808080;

// fonts

@import url('https://fonts.googleapis.com/css?family=Roboto:200,200i,300,300i,350,350i,400,400i&display=swap');

$font-family-sans-serif: "Roboto", sans-serif !default;
$presentation-heading-font: "Roboto", sans-serif !default;

$presentation-heading-color: $jet !default;
$presentation-heading-font-weight: lighter;
$presentation-font-size-root: 32px;

// colors
$body-color: $jet !default;
$link-color: $accent !default;
$selection-bg: #26351c !default;


/*-- scss:rules --*/

.reveal a {
  line-height: 1.5em;
}

.reveal p {
  font-weight: lighter;
  margin-top: 1.25em;
}

// title and headings

#title-slide {
  text-align: left;

  .title {
    color: $maincolor;
    font-size: 1.8em;
    font-weight: lighter;
  }

  .subtitle {
    color: $body-color;
    font-style: italic;
    margin-top: 0em;
    font-weight: lighter;
  }

  .institute,
  .quarto-title-affiliation,
  .quarto-title-author-email {
    font-style: italic;
  }

  .author,
  .quarto-title-author-name {
    color: $body-color;
  }

  .quarto-title-authors {
    display: flex;
    justify-content: left;

    .quarto-title-author {
      padding-left: 0em;
      padding-right: 0em;
      width: 100%;
    }
  }

}

.reveal h2 {
  font-weight: lighter;
  font-size: 1.4em;
}

.reveal h3 {
  color: $accent;
  font-style: italic;
  font-weight: lighter;
  font-size: 0.95em;
}

.reveal h4 {
  color: $accent2;
  font-weight: normal;
  margin-top: 1.25em;
}

// alerts etc.

.alert {
  color: $accent2;
}

.fg {
  color: var(--col, $jet);
}

.bgclassic {
  background-color: var(--col, #fff);
  padding: 0.1em;
  border-radius: 5px;
  display: inline-block;
}

.bg {
  background-color: var(--col, $maincolor);
  padding: 0.1em;
  border-radius: 5px;
  display: inline-block;
  color: #fff;
}

.azulito {
  background-color: var(--col, $azulito);
  padding: 0.1em;
  border-radius: 5px;
  display: inline-block;
  color: #fff;
}

.amarillito {
  background-color: var(--col, $amarillito);
  padding: 0.1em;
  border-radius: 5px;
  display: inline-block;
  color: #fff;
}

.gris {
  background-color: var(--col, $gris);
  padding: 0.1em;
  border-radius: 5px;
  display: inline-block;
  color: #fff;
}


// lists

// Unordered lists

.reveal ul {
  font-weight: lighter;
  padding-left: 16px;

  li::marker {
    color: mix($maincolor, white, 70%);
  }
}

.reveal ul ul {
  list-style: none;

  li:before {
    content: $right-arrow;
    color: mix($maincolor, white, 60%);
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    margin-right: 0.5em;
  }
}

// Ordered lists

// Estilo para listas ordenadas (numeradas)
.reveal ol {
  list-style: none !important;  // Elimina el estilo numérico predeterminado
  padding-left: 0;  // Elimina el padding predeterminado
  counter-reset: item;  // Resetea el contador para los ítems

  li {
    counter-increment: item;  // Incrementa el contador para cada ítem
    margin-bottom: 1em;
    padding-left: 2em;  // Espacio antes del texto, suficiente para el círculo

    position: relative;  // Permite el uso de position para ::before

    &::before {
      content: counter(item);  // Contador que muestra el número
      background-color: $maincolor;  // Color de fondo del círculo
      color: white;  // Color del número dentro del círculo
      border-radius: 50%;  // Hace que el fondo sea un círculo
      display: inline-block;
      width: 1.5em;
      height: 1.5em;
      text-align: center;
      line-height: 1.5em;  // Alinea verticalmente el número dentro del círculo
      margin-right: 0.2em;
      font-weight: bold;

      position: absolute;  // Coloca el número en una posición absoluta
      left: -1em;  // Alinea el círculo a la izquierda
    }
  }

  // Estilo para sub-listas ordenadas
  ol {
    margin-left: 2em;  // Añadir sangría para sublistas
    list-style: none;  // Eliminamos el estilo de lista predeterminado
    counter-reset: subitem;  // Resetea el contador para las sublistas

    li {
      counter-increment: subitem;  // Incrementa el contador de subitem

      &::before {
        content: counter(subitem, lower-alpha);  // Muestra letras en lugar de números
        background-color: $maincolor;  // Color de fondo del círculo
        color: white;  // Color de la letra dentro del círculo
        border-radius: 50%;
        display: inline-block;
        width: 1.2em;  // Tamaño del círculo ligeramente más pequeño para subítems
        height: 1.2em;
        text-align: center;
        line-height: 1.2em;  // Alinear verticalmente la letra dentro del círculo
        margin-right: 0.5em;
        font-weight: bold;

        position: absolute;  // Posición absoluta para alinear el círculo con precisión
        left: -2em;  // Mover el círculo de subítem a la izquierda
      }
    }
  }
}

// Move "hamburger" menu button to top right

.reveal .slide-menu-button {
  position: fixed;
  top: 6px;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  pointer-events: none;
}

.reveal .slide-menu-button > * {
  pointer-events: auto;
}


// Same for chalkboard buttons (with an offset)

.reveal .slide-chalkboard-buttons {
  position: fixed;
  top: 12px;
  right: 24px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  pointer-events: none;
}

.reveal .slide-chalkboard-buttons > * {
  pointer-events: auto;
}

// Beamer-style button link environment

.button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: $accent;
  border: 1px solid $accent;
  color: #fff !important;
  text-decoration: none;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.button::before {
  content: "▶";
  margin-right: 5px;
}

// tables

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.8em;
}

.reveal table th,
.reveal table td {
  border: none; /* Remove internal row lines */
  padding: .23em; /* Adjust padding as needed */
  text-align: left; /* Adjust text alignment as needed */
  font-weight: lighter; /* Lighter font weight for main table text */
}

/* Adds a bottom border to the table header row for distinction */
.reveal table thead th,
.reveal .slides table tr:last-child td,
.reveal .slides table {
  border-bottom: 2px solid #D3D3D3; /* Dark grey color for the bottom border */
}

/* Make column headers bold */
.reveal table thead th {
  font-weight: bold;
}

/* Styling table captions */
.reveal table caption {
  color: #666666; /* Dark grey color for the caption */
  font-variant: small-caps; /* Use small caps for the caption text */
}

// Special catch for etable environment to ensure these table images
// don't overflow the slide.
// See: https://lrberge.github.io/fixest/articles/etable_new_features.html

.etable {
  width: 100%;
  height: calc(100% - 3em); /* Adjust 3em based on the height of your header, if necessary */
  display: flex;
  align-items: center;
  justify-content: center;
}

.etable img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}

// title image

.title-slide-image {
  position: absolute;
  top: 20px; // Ajusta según la posición vertical que desees
  right: 20px; // Ajusta según la posición horizontal que desees
  width: 150px; // Ajust
}


// subrayado
.subr {
  text-decoration: underline;     
  text-decoration-color: $maincolor;    
}

// centrado vertical
.center-h {
  display: flex;                  // Usamos flexbox.
  justify-content: center;        // Centramos horizontalmente.
  align-items: center;            // Centramos verticalmente.
  height: 100vh;                  // Altura del contenedor para asegurar el centrado vertical en toda la vista.
  text-align: center;             // Alineamos el texto centrado en su bloque.
}

// tamaño texto
.large-text {
  font-size: 1.7em;   // Ajusta el tamaño del texto al doble del tamaño base
}

// interlineado
.custom-line-height {
  line-height: 1.2; // Aumenta el interlineado
}


.custom-arrow {
  position: relative;
  padding-left: 1.5em; /* Añade espacio a la izquierda para la flecha */
}

.custom-arrow::before {
  content: $right-arrow; /* Inserta la flecha hacia la derecha */
  position: absolute;
  left: 0; /* Coloca la flecha a la izquierda del texto */
  color: $maincolor; /* Establece el color de la flecha a azul */
  font-size: 1.4em; /* Ajusta el tamaño de la flecha si es necesario */
}
